<tr class="info">
  <td><%= article.id %></td>
  <td>
      <p><%= image_tag(article.photo_small) if article.photo_small? %></p>
      <p id="article_title"><%= link_to article.title, article_path(article) %></p>
  </td>
  <td><%= truncate(strip_tags(article.text), length: 400) %></td>
  <td><%= article.user.name %></td>
  <td><%= article.updated_at %></td>
  <td>
    <%= button_to 'Edit', edit_article_path(article),
            method: :get, class: "btn btn-success btn-xs" %>
  </td>
  <td>
    <%= button_to 'Delete', article_path(article),
          method: :delete,
          data: { confirm: 'Are you sure?' }, 
          class: "btn btn-danger btn-xs" %>
  </td>
</tr>
