<%= form_for @user, :html => { multipart: true, class: "form-horizontal" } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.label :name, @user.name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.label :email, @user.email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select(:role_id, @roles, 
                  :id, :title, {:prompt => 'Please select role'}, class: "form-control") %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.submit title_sumbit, class: "btn btn-primary btn-sm"%>
    </div>
  </div>
<% end %>

<div><%= button_to 'Back', users_path, method: :get, class: "btn btn-default" %></div>

