<% provide(:title, @artcile.title ) %>

<div class="container-fluid"> 
  <div class="row">

    <div class="col-sm-9 col-md-10">

    <div class="container">
      <div class="page-header">
        <h1 id="article_title"><%= @artcile.title %></h1>
      </div>
      <p>
        <%= "by #{@artcile.user.name} on #{l @artcile.updated_at, :format => :long }" %>
      </p>
      <p>
        <%= image_tag(@artcile.photo) if @artcile.photo? %></p>
      <p>
        <%= sanitize(@artcile.text) %>
      </p>
      <%= link_to 'Back', :back, class: "btn btn-default btn-sm" %>
    </div>
    
  </div>
</div>