<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | Hardware and tech</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'shared/navbar' %>

    <div class='main-page-content <%= controller.controller_name %>'>
      <div class="container">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert #{bootstrap_class_for(key)} flash") %>
        <% end %>

        <%= yield %>
      </div>
    </div>

    <footer>
      <p>&copy; Hardware and tech 2016. All Rights Reserved. Developed by <a href="https://github.com/geovo851">Georgy</a></p>
    </footer>

  </body>
</html>
